/* MEDIA QUERIES MANAGER
 break point :
 - phone 600px
 - tab-port 900px
 - desktop 1200px

 1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em){ @content };     //600px
    }

    @if $breakpoint == tab-port {
        @media (max-width: 60em){ @content };    //900px
    }
}

/* MEDIA QUERIES MANAGER
 Penggunaan : 


.html {
    font-size: 62.5%;

    @include respond(tab-port){ // max width 900px
        font-size: 62.5%;
    }

    @include respond(phone){ // max width 600px
        font-size: 50%; 
    }
}

*/