.testimonial{
 
    background-image: url("/images/testimonials.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain; 
    
    width: 100%;
    min-height: 197px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.3rem;


    &__wrapper{
        position: relative;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        max-width: 22.9rem;
        min-height: 197px;
        
        padding: 1rem;
    }

    &__title{
        position: absolute;
        left: 20px;
        top: 48px;
        display: block;
        color: white;
        font-family: $font-secondary;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__text{
        margin-top: 4rem;
        
        color: white;
        font-family: $font-primary;
        font-style: italic;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: normal;
        text-align: center;
    }
}