h1,h2,h3,h4,h5,h6{
    // display: block;
    display: flex;
    align-items: center;
    font-family: $font-secondary;
    font-weight: 300;
    min-height: 6.6rem;
  
}

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2.6rem;

}

h3{
    font-size: 2.4rem;

}

h4{
    font-size: 2.2rem;

}

h5{
    font-size: 2rem;

}

h6{
    font-size: 1.8rem;

}

p, blockquote {
    display: block;
    // display: flex;
    // align-items: center;
    font-family: $font-primary;
    font-size: 1.4rem;
    line-height: 2.9rem;
    color: black;
    margin-bottom: 1em;
}

.title{
    display: block;
}

a, a:visited{
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid $color-accent;
}

a:hover{
    // font-weight: bold;
    background-color: $color-accent;
    color: white;
    border-radius: 3px;
}

li{
    font-family: $font-primary;
    font-size: 1.4rem;
    line-height: unset;
    color: black;

    & > p:first-child {
        margin-bottom:unset; 
    }
}

ul{
    list-style-type: none;
    list-style-position: inside;

    & li{
        margin-left: 3rem;
        display: flex;
        margin-bottom: 1em;
    }

}

ul li::before {
    content: "\25aa";  
    font-size: 1em;
    color: $color-accent; 
    font-weight: bold; 
    display:inline-block;
    align-items: center;
    // width: 10px; 
    text-shadow: -1px -1px 0 $color-accent, 1px -1px 0 $color-accent, -1px 1px 0 $color-accent, 1px 1px 0 $color-accent;

    margin-left: -1em; 
    margin-right: 1rem;
  }

ol{
    & li {
        margin-left: 3rem;
        margin-bottom: 1em;
    }
}

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }

  blockquote::before {
    color: #ccc;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: block !important;
    margin: unset !important;
  }

  blockquote p:not(:last-child){
    margin-bottom: 2.5rem !important;

  }

  cite{
    display: flex;
    justify-content: flex-end;
  }

img{
    width: 100%;
    -webkit-filter: grayscale(1);
    filter: grayscale(0);
    transition: all .2s;
    margin-bottom: 1em;

    &:hover{
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
}
