{{ define "main" }}

    {{ partial "hero" . }}

    <section class="container">
        <main class="container__content"> 

           

            <h1 class="title">{{ .Params.postTitle }}</h1>
            
            {{ .Content }}

            <a href="{{ .Params.videoURL }}" class="glightbox1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-type="video">
                <img src=" {{ .Params.videoThumbnail }}">
            </a>

            <div class="gallery">
                
                {{ range .Params.gallery }}

                <a href="{{ .image }}" class="gallery__item glightboxTest" data-title="{{ .descriptionTitle }}" data-description="{{ .descriptionText }}" data-type="image">
                    <img src="{{ .image }}">
                </a>

                {{ end }}

            </div>
            
        </main>

        <aside class="container__sidebar">

            {{ partial "testimonial" . }}


            {{ partial "sidebar-list" .}}

            {{ partial "sidebar-contact" .}}
            <!-- {{ partial "sidebar-list" . }} -->

        </aside>
    </section>
</div>    


{{ end }}