<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head -->
    {{ partial "meta-head" . }}
  </head>
  <body>
    <div class="wrapper">

    <!-- nav -->
    {{ partial "nav" . }}

    <!-- block main -->
    {{ block "main" . }}
    {{ end }}

    </div>

    <!-- footer nav -->
    {{ partial "footer-nav" . }}

    <!-- footer credit -->
    {{ partialCached "footer-credit" . }}
  </body>
 
{{ partial "script" . }}
  
</html>
