{{ define "main" }}

    {{ partial "hero" . }}

    <section class="container">
        <main class="container__content">

            <h1 class="title">{{ .Params.postTitle }}</h1>
            
            {{ .Content }}
        </main>

        <aside class="container__sidebar">

            {{ partial "testimonial" . }}


            {{ partial "sidebar-list" .}}

            {{ partial "sidebar-contact" .}}
            <!-- {{ partial "sidebar-list" . }} -->

        </aside>
    </section>
</div>    


{{ end }}