// ALL VARIABLES BELONG HERE
:root {
    --color-primary: #333;
}


$color-accent: #E74C3C;

$font-primary : 'Open Sans', sans-serif;
$font-secondary: 'Open Sans Condensed', sans-serif;
$font-tertiery : 'Roboto', sans-serif;

// MEDIA QUERIES SCREEN SIZE
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @include respond(tab-port){ // max width 900px
        font-size: 62.5%;
    }

    @include respond(phone){ // max width 600px
        font-size: 60%; 
    }
}

body {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    // @media only screen and (max-width: 960px) {
    //     padding: 2rem;
    //   }

    
}

.wrapper{
        @media only screen and (max-width: 960px) {
        padding: 2rem;
      }
}