.container{
    display: flex;
    flex-direction: row;
    // justify-content: center;
    width: 100%;
    max-width: 960px;
    min-height: 100vh;
    // outline: 1px solid red;
    margin: 0 auto;
    margin-top: 3.1rem;

    @media only screen and (max-width: 750px) {
        flex-direction: column;
        margin-top: 1.5rem;
      }


    &__content{
        // outline: 1px solid blue;
        width: 100%;
        max-width: 63.9rem;
        flex-basis: 1;
        padding: 0 3.7rem;

        @media only screen and (max-width: 750px) {
            // flex-direction: column-reverse;
            padding:0;
          }
        
    }

    &__sidebar{
        width: 100%;
        max-width: 32.1rem;
        flex-shrink: 2;

        @media only screen and (max-width: 750px) {
         max-width: 100%;
        }
    }

}