.contact{
    display: flex;
    flex-direction: column;
    padding: 1em;


    &__label{
        margin-top: .5em;
        margin-bottom: .5em;
        font-weight: light;
        font-family: $font-primary;
        font-size: 1.4rem;
    }

    &__text{
        // border-radius: 3px;
        border: none;
        border: 1px solid #c2c1c1;
        border-radius: 3px;
        padding: .5rem;
        font-family: $font-primary;
        font-weight: 300;

        width: 75%;

        @media only screen and (max-width: 750px) {
            width: 100%;
        }
    }


    &__textarea{
        // width: 80%;
        padding: .5rem;
        font-family: $font-primary;
        border: none;
        border: 1px solid #c2c1c1;
        border-radius: 3px;

    }

    &__button{
        margin: 1rem 0;
        padding: 1rem;
        width: 10rem;
        align-self: flex-end;
        background-color: #2ecc71;
        color: white;
        border: none;
        border-radius: 3px;
        outline: none;

        font-family: $font-primary;
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;

            &:hover{
                background-color: #27ae60;
            }
    }
}