.credit{
    position: relative;
    z-index: 100;
    background-color: #E73C2A;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3.2rem;

    &__text{
        color: white;
        font-size: 1.4rem;
        line-height: 2.3rem;

        & > a{
            border: none;
            &:hover{
                border: none;
                background-color: transparent;
            }
        }
    }
}