.footer{
background-color: #E74C3C;
width: 100%;
    
    &__wrapper{
    // outline: 1px solid red;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 5rem;


    display: flex;
    justify-content: space-between;
    align-items: center;
    // color: white;
        @media only screen and (max-width: 700px) {
            justify-content: space-around;
        }

    }

    &__menu{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        margin: auto 0;

        @media only screen and (max-width: 700px) {
            flex-direction: column;
            align-items: flex-start;
        }


        &-list{
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            // outline: 1px solid white;
            margin: unset;
            padding: unset;
            margin: 1rem;

            &--active{
                border: none;
                background-color:transparent;
                border-bottom: 2px solid white !important;
            }

            & > a{
                padding: .5rem;
                // margin: 10rem;
                // outline: 1px solid white;
                margin: unset;
                border: none;
                text-align: center;

                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: bold;
                // border-bottom: 2px solid transparent;
                border-radius: 0;

                &:hover{
                    border: none;
                    background-color:transparent;
                    border-bottom: 2px solid white;
                }
            }
            &::before{
                content: none;
            }
        }
    }

    &__detail{
        display: flex;
        justify-content: space-around;
        color: white;
        text-align: right;

        @media only screen and (max-width: 900px) {
            flex-direction: column-reverse;

        }

    }


    &__address{
        margin-right: 5rem;
       display: flex;
        flex-direction: column;
        justify-content: center;
            @media only screen and (max-width: 900px) {
                margin-bottom: 2rem;
            }
        &-header{
            font-size: 1.6rem;
            font-weight: 600;
        }

        &-detail{
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }

    &__contact{
        margin-right: 5rem;
       display: flex;
        flex-direction: column;
        justify-content: center;
            @media only screen and (max-width: 900px) {
                margin-bottom: 2rem;
            }
            
        &-header{
            font-size: 1.6rem;
            font-weight: 600;
        }

        &-detail{
            font-size: 1.4rem;
        }
    }
}