.gallery{
    display: grid;
    width: 100%;

    grid-template-columns: repeat(auto-fit, minmax(15.7rem, 1fr));

    grid-gap: 1.5rem;

    &__item{
        min-height: 0;
        border: none;
        text-decoration: none;
        &:hover{
            border: none;
        }

        
     
        & > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 0;
            padding: 0;
        }

    }
}

.gslide-title{
    min-height: 0 !important;
    font-size: 2em !important;

}

.gslide-desc{
    font-size: unset !important;
    line-height: 2em !important;
}

.glightbox1{
    border: none;
    background-color: unset;

    &:hover, &:visited{
        border: none !important;
        background-color: unset;
    }
}