.header{
    width:100%;
    max-width:960px;
    // outline: 1px solid blue;
    margin: 0 auto;
    margin-top: 2.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 9.3rem;
    padding: 1rem;

    @media only screen and (max-width: 700px) {
        margin-top: 0;
        height: 6rem;
      }

    &__logo{
        // width: 21rem;
        // height: auto;
        margin: auto 0;

        & > a {
            border: none;

            &:hover{
                border: none;
                background-color: unset;
            }
        }

        &-icon{
            width: 210px;
            height: 50px;
       
        }
    }


    &__menu{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        
        &-item{
            margin-left: unset;
            display: block;
            padding: .3rem 1.5rem;
            height: 5.3rem;
            display: flex;
            align-items: center;
            border-bottom: 5px solid transparent;
            
            font-family: $font-tertiery;
            font-size: 1.4rem;
            color: black;
            text-transform: uppercase;

            &::before{
                content: none;
            }

            @media only screen and (max-width: 700px) {
               display: none;
            }

            &--active{
                border-bottom: 5px solid $color-accent;
            }

            &--responsive{
               display: none;
               margin-bottom: 0;
            }



            @media only screen and (max-width: 700px) {
                &--responsive{
                    display: flex;
                    border-bottom: 5px solid $color-accent;
                 }  
              }

            &:hover{
                border-bottom: 5px solid $color-accent;
            }

            

            & > a {
                text-decoration: none;
                color: inherit;
                border-bottom: none;

                &:hover{
                    background-color: transparent;
                    color: inherit;
                }
            }
        }

        
    }
}