.hero{
    width: 100%;
    max-width: 960px;
    display: flex;
    margin: 0 auto;
    margin-top: 2rem;

    &__image{
        width: 100%;
        // height: 26.6rem;
        // height: 26.6rem ;
        height: 100%;
        // object-fit: cover;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        // flex: 1;
    }
}