.mobile-menu{
    display: flex;
    // display: none;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top:0;
    left:0;
    background-color: $color-accent;
    background-image: linear-gradient(to left bottom, #e74c3c, #dd4b41, #d24b44, #c74a47, #bc4a4a);    width: 100vw;
    height: 0vh;
    z-index: 100;
    overflow-y: scroll;
    overflow-x:hidden;
    transition: all .5s;
    font-family: $font-tertiery;
    text-transform: capitalize;
    font-weight: 700;

    &__close{
        // display: none;
        opacity: 0;
        border:none;
        margin: none;
        padding: none;
        background-color:transparent;
        height: 4rem;
        width: 4rem;
        position: fixed;
        top:5%;
        right: 5%;
        cursor: pointer;
        transition: all .5s;

        &:focus{
            border: none;outline: none;
          }
    }

    &__wrapper{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        // outline: 1px solid white;

        & li {
            margin-left: unset;
            &::before{
                content:none;
            }
        }
    }

    &__item, &__item:visited, &__item:active {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 1.25em;
        padding: 2.5rem;
        border: none;
    }

    &__item:hover{
        border: none;
    }
}

.showMenu{
    // display: flex;
    height: 100vh;

    & .mobile-menu__close{
        // display: block;
        opacity: 1;
    }
}
