.sidebar{
    // margin-top: 4.3rem;
    padding: 0rem 2rem;
    margin-bottom: 4.3rem;

    // outline: 1px solid red;

    &__title{
        display: flex;
        align-items: center;
        min-height: 5.4rem;

        margin-bottom: 2.5rem;

        font-size: 2.4rem;
        font-weight: 300;
        text-transform: uppercase;
        border-bottom: 1px solid #C2C1C1;
    }

    &__list{
        line-height: 1.5rem;
    //    outline:1px solid red;
    //    padding-left: rem;

        &::before{
            content: "\25aa";  
            font-size: 1em;
            color: $color-accent; 
            font-weight: bold; 
            display:inline-block;
            align-items: center;
            // width: 3rem; 
            padding-right: 3rem;
            text-shadow: -1px -1px 0 $color-accent, 1px -1px 0 $color-accent, -1px 1px 0 $color-accent, 1px 1px 0 $color-accent;
        
            margin-left: -1em; 
            margin-right: -.5rem;
        }
    }
}