<footer class="footer">
        <div class="footer__wrapper">
            <ul class="footer__menu">

                {{ $currentNode := . }}
                {{ range .Site.Menus.nav }}
                <li class='footer__menu-list' ><a class='{{if $currentNode.IsMenuCurrent "nav" . }}footer__menu-list--active{{end}}' href="{{ .URL }}" title="{{ .Title }}" > {{- .Name -}}</a></li> 
                {{ end }}
                <!-- <li class="footer__menu-list"><a class="footer__menu-listactive" href="#">Home</a></li>
                <li class="footer__menu-list"><a href="#">About</a></li>
                <li class="footer__menu-list"><a href="#">Products</a></li>
                <li class="footer__menu-list"><a href="#">Contact Us</a></li> -->
            </ul>

            <div class="footer__detail">
                <div class="footer__address">
                    <div class="footer__address-header">Address</div>
                    <div class="footer__address-detail">{{ .Site.Data.company.address }}</div>
                    <div class="footer__address-detail">{{ .Site.Data.company.town_country }}</div>
                </div>

                <div class="footer__contact">
                    <div class="footer__contact-header">Contact</div>
                    <div class="footer__contact-detail">{{ .Site.Data.company.phone }}</div>
                    <div class="footer__contact-detail">{{ .Site.Data.company.email }}</div>
                </div>
            </div>
        </div>
</footer>