<nav class="mobile-menu js__mobile-menu">
        <button class="mobile-menu__close js__mobile-menu__close" aria-label="close mobile menu">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 41.756 41.756" style="enable-background:new 0 0 41.756 41.756;" xml:space="preserve" class=""><g><g>
                            <path d="M27.948,20.878L40.291,8.536c1.953-1.953,1.953-5.119,0-7.071c-1.951-1.952-5.119-1.952-7.07,0L20.878,13.809L8.535,1.465   c-1.951-1.952-5.119-1.952-7.07,0c-1.953,1.953-1.953,5.119,0,7.071l12.342,12.342L1.465,33.22c-1.953,1.953-1.953,5.119,0,7.071   C2.44,41.268,3.721,41.755,5,41.755c1.278,0,2.56-0.487,3.535-1.464l12.343-12.342l12.343,12.343   c0.976,0.977,2.256,1.464,3.535,1.464s2.56-0.487,3.535-1.464c1.953-1.953,1.953-5.119,0-7.071L27.948,20.878z" data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff"/>
                        </g></g> 
                    </svg>    
        </button>
        <ul class="mobile-menu__wrapper">

                {{ $currentNode := . }}
                {{ range .Site.Menus.nav }}
                <!-- <li class='header__menu-item {{if $currentNode.IsMenuCurrent "nav" . }}header__menu-item--active{{end}}' ><a href="{{ .URL }}" title="{{ .Title }}" > {{- .Name -}}</a></li>  -->
                <li><a href="{{ .URL }}"title="{{ .Title }}" class="mobile-menu__item">{{- .Name -}}</a></li>

                {{ end }}
                    <!-- <li><a href="/" class="mobile-menu__item">Home</a></li>
                    <li><a href="/jasa-pembuatan-website/pendahuluan-layanan-pembuatan-website/" class="mobile-menu__item">About Us</a></li>
                    <li><a href="/blog" class="mobile-menu__item">Products</a></li>
                    <li><a href="/blog" class="mobile-menu__item">Contact Us</a></li> -->
        </ul>
</nav>
            
            
    <nav class="header">
        <header class="header__logo">
            <a href="/" class="header__logo-item">
                <svg class="header__logo-icon" xmlns="http://www.w3.org/2000/svg" fill="none"><path fill="#fff" stroke="#000" stroke-width="3" d="M1.5 1.5h207v43H1.5z"/><path d="M34.037 31.842c-.123 1.053-.513 1.866-1.17 2.44s-1.52.854-2.605.854c-1.176 0-2.12-.42-2.83-1.265s-1.06-1.97-1.06-3.384v-.957c0-.925.164-1.74.492-2.44s.802-1.24 1.408-1.613 1.308-.567 2.105-.567c1.057 0 1.905.296 2.543.89s1 1.404 1.114 2.447h-1.32c-.114-.793-.362-1.367-.745-1.723S31.064 26 30.38 26c-.84 0-1.497.3-1.976.93s-.71 1.502-.71 2.646v.964c0 1.08.226 1.94.677 2.577s1.082.957 1.893.957c.73 0 1.288-.164 1.675-.492s.652-.91.78-1.73h1.32zm12.674-1.497c0 .975-.164 1.827-.492 2.557s-.793 1.278-1.395 1.66-1.303.574-2.105.574c-.784 0-1.48-.19-2.085-.574s-1.078-.937-1.415-1.648-.504-1.543-.513-2.48v-.718c0-.957.166-1.802.5-2.536s.802-1.294 1.408-1.682 1.308-.588 2.092-.588c.797 0 1.5.194 2.105.58s1.08.94 1.408 1.675.492 1.58.492 2.55v.63zm-1.306-.643c0-1.18-.237-2.085-.71-2.714s-1.137-.95-1.99-.95c-.83 0-1.483.317-1.962.95s-.718 1.504-.73 2.625v.73c0 1.144.24 2.044.718 2.7s1.146.978 1.99.978 1.504-.308 1.97-.923.704-1.506.718-2.66v-.738zm13.816 2.14c-.123 1.053-.513 1.866-1.17 2.44s-1.52.854-2.605.854c-1.176 0-2.12-.42-2.83-1.265s-1.06-1.97-1.06-3.384v-.957c0-.925.164-1.74.492-2.44s.802-1.24 1.408-1.613 1.308-.567 2.106-.567c1.057 0 1.905.296 2.543.89s1.01 1.404 1.114 2.447h-1.32c-.114-.793-.362-1.367-.745-1.723S56.248 26 55.564 26c-.84 0-1.497.3-1.976.93s-.71 1.502-.71 2.646v.964c0 1.08.226 1.94.677 2.577s1.082.957 1.894.957c.73 0 1.287-.164 1.675-.492s.652-.91.78-1.73h1.32zm12.674-1.497c0 .975-.164 1.827-.492 2.557s-.793 1.278-1.394 1.66-1.303.574-2.106.574c-.784 0-1.48-.19-2.085-.574s-1.078-.937-1.415-1.648-.503-1.543-.513-2.48v-.718c0-.957.166-1.802.5-2.536s.802-1.294 1.408-1.682 1.308-.588 2.092-.588c.797 0 1.5.194 2.105.58s1.08.94 1.408 1.675.492 1.58.492 2.55v.63zm-1.306-.643c0-1.18-.237-2.085-.71-2.714s-1.137-.95-1.99-.95c-.83 0-1.483.317-1.962.95s-.718 1.504-.73 2.625v.73c0 1.144.24 2.044.718 2.7s1.146.978 1.99.978 1.504-.308 1.97-.923.704-1.506.718-2.66v-.738zM83.777 35v-9.953h3.254c1.08 0 1.89.223 2.434.67s.82 1.107.82 1.982c0 .465-.132.877-.396 1.237s-.624.63-1.08.827c.538.15.962.438 1.272.86s.472.92.472 1.504c0 .893-.29 1.595-.868 2.105S88.286 35 87.23 35h-3.452zm1.313-4.655v3.582h2.167c.61 0 1.092-.157 1.442-.472s.533-.757.533-1.312c0-1.2-.652-1.798-1.955-1.798H85.09zm0-1.053h1.982c.574 0 1.032-.144 1.374-.43s.52-.677.52-1.17c0-.547-.16-.943-.478-1.19s-.804-.376-1.456-.376h-1.94v3.165zm14.28 1.682h-2.338V35h-1.32v-9.953h3.295c1.12 0 1.982.255 2.584.766s.91 1.253.91 2.23c0 .62-.17 1.16-.506 1.62s-.798.804-1.395 1.032l2.338 4.225V35h-1.408l-2.16-4.026zM97.032 29.9h2.017c.652 0 1.17-.17 1.55-.506.388-.337.58-.788.58-1.354 0-.615-.184-1.087-.553-1.415s-.894-.495-1.586-.5h-2V29.9zm11.943 5.1h-1.313v-9.953h1.313V35zm13.227-4.655c0 .962-.152 1.79-.458 2.488s-.733 1.235-1.285 1.627l1.778 1.395-.896.827-2.1-1.668a4.27 4.27 0 0 1-1.039.123c-.783 0-1.478-.19-2.085-.574s-1.077-.937-1.415-1.648c-.332-.715-.503-1.543-.512-2.48v-.718c0-.957.166-1.802.5-2.536s.802-1.294 1.408-1.682c.61-.392 1.308-.588 2.092-.588.802 0 1.506.194 2.112.58s1.08.946 1.408 1.675.492 1.572.492 2.543v.636zm-1.312-.643c0-1.17-.235-2.074-.704-2.707s-1.13-.957-1.996-.957c-.825 0-1.477.317-1.955.95s-.718 1.504-.732 2.625v.73c0 1.14.237 2.037.71 2.693s1.142.984 1.99.984 1.504-.308 1.97-.923.704-1.506.718-2.66v-.738zm13.563-4.655v6.768c-.005.94-.3 1.707-.89 2.304s-1.376.932-2.38 1.005l-.348.014c-1.1 0-1.958-.294-2.605-.882s-.975-1.397-.984-2.427v-6.78h1.298v6.74c0 .72.2 1.28.595 1.682s.962.595 1.696.595c.742 0 1.3-.198 1.702-.595s.594-.955.594-1.675v-6.747h1.32zM145.37 30.4h-4.313v3.527h5V35h-6.323v-9.953H146v1.08h-4.942v3.2h4.313V30.4zm12.565-4.272h-3.2V35h-1.306v-8.873h-3.193v-1.08h7.698v1.08zm11.683 0h-3.2V35h-1.305v-8.873h-3.193v-1.08h7.698v1.08zM179.94 30.4h-4.313v3.527h5V35h-6.323v-9.953h6.255v1.08h-4.942v3.2h4.313V30.4z" fill="#000"/><path d="M59.117 18H57.36V9.47h1.758V18zm11.092 0H68.45l-3.422-5.613V18h-1.758V9.47h1.758l3.428 5.625V9.47h1.752V18zm4.055 0V9.47h2.625c.75 0 1.42.17 2 .5s1.057.816 1.39 1.44.498 1.328.498 2.12v.393c0 .793-.164 1.498-.492 2.115s-.783 1.096-1.377 1.436-1.264.512-2 .516h-2.643zm1.758-7.107v5.695h.85c.688 0 1.213-.225 1.576-.674s.55-1.092.557-1.928v-.45c0-.867-.18-1.524-.54-1.97s-.885-.674-1.576-.674h-.867zm15.575 3.035c0 .84-.148 1.576-.445 2.21s-.723 1.12-1.277 1.465-1.184.516-1.898.516c-.707 0-1.338-.17-1.893-.5s-.984-.824-1.29-1.453-.46-1.36-.463-2.18v-.422c0-.84.15-1.578.45-2.215s.732-1.13 1.283-1.47 1.188-.516 1.898-.516 1.342.172 1.893.516.982.83 1.283 1.47.457 1.373.457 2.21v.38zm-1.78-.387c0-.895-.16-1.574-.48-2.04s-.777-.697-1.37-.697-1.045.23-1.365.69-.482 1.13-.486 2.016v.416c0 .87.16 1.547.48 2.027s.78.72 1.383.72c.6 0 1.043-.23 1.36-.69s.477-1.14.48-2.027v-.416zM102.332 18h-1.758l-3.422-5.613V18h-1.758V9.47h1.758l3.428 5.625V9.47h1.752V18zm9.188-3.697h-3.375v2.285h3.96V18h-5.718V9.47h5.707v1.424h-3.95v2.033h3.375v1.377zm8.56 1.46c0-.332-.118-.586-.352-.762s-.656-.367-1.266-.562-1.09-.395-1.447-.586c-.97-.524-1.453-1.23-1.453-2.115 0-.46.13-.87.387-1.23s.634-.647 1.12-.85 1.035-.305 1.64-.305 1.153.11 1.63.334.846.53 1.108.932.398.86.398 1.37h-1.758c0-.39-.123-.693-.37-.908s-.592-.328-1.037-.328c-.43 0-.764.092-1.002.275a.85.85 0 0 0-.357.715c0 .277.138.5.416.697s.693.363 1.236.527c1 .3 1.73.674 2.186 1.12s.685 1 .685 1.664c0 .738-.28 1.318-.838 1.74s-1.3.627-2.256.627c-.656 0-1.253-.12-1.792-.357s-.952-.572-1.237-1-.422-.902-.422-1.453h1.764c0 .94.562 1.412 1.687 1.412.418 0 .745-.084.98-.252s.352-.4.352-.715zM127.43 18h-1.758V9.47h1.758V18zm9.076-1.758h-3.082L132.837 18h-1.87l3.176-8.53h1.63l3.193 8.53h-1.87l-.592-1.758zm-2.607-1.424h2.133l-1.073-3.193-1.06 3.193zM149.22 18h-1.758l-3.422-5.613V18h-1.758V9.47h1.758l3.428 5.625V9.47h1.752V18z" fill="#6f6f6f"/></svg>
                <!-- <svg class="header__logo-icon" xmlns="http://www.w3.org/2000/svg" fill="none"><path fill="#fff" stroke="#000" stroke-width="3" d="M1.5 1.5h207v43H1.5z"/><path d="M34.037 31.842c-.123 1.053-.513 1.866-1.17 2.44s-1.52.854-2.605.854c-1.176 0-2.12-.42-2.83-1.265s-1.06-1.97-1.06-3.384v-.957c0-.925.164-1.74.492-2.44s.802-1.24 1.408-1.613 1.308-.567 2.105-.567c1.057 0 1.905.296 2.543.89s1 1.404 1.114 2.447h-1.32c-.114-.793-.362-1.367-.745-1.723S31.064 26 30.38 26c-.84 0-1.497.3-1.976.93s-.71 1.502-.71 2.646v.964c0 1.08.226 1.94.677 2.577s1.082.957 1.893.957c.73 0 1.288-.164 1.675-.492s.652-.91.78-1.73h1.32zm12.674-1.497c0 .975-.164 1.827-.492 2.557s-.793 1.278-1.395 1.66-1.303.574-2.105.574c-.784 0-1.48-.19-2.085-.574s-1.078-.937-1.415-1.648-.504-1.543-.513-2.48v-.718c0-.957.166-1.802.5-2.536s.802-1.294 1.408-1.682 1.308-.588 2.092-.588c.797 0 1.5.194 2.105.58s1.08.94 1.408 1.675.492 1.58.492 2.55v.63zm-1.306-.643c0-1.18-.237-2.085-.71-2.714s-1.137-.95-1.99-.95c-.83 0-1.483.317-1.962.95s-.718 1.504-.73 2.625v.73c0 1.144.24 2.044.718 2.7s1.146.978 1.99.978 1.504-.308 1.97-.923.704-1.506.718-2.66v-.738zm13.816 2.14c-.123 1.053-.513 1.866-1.17 2.44s-1.52.854-2.605.854c-1.176 0-2.12-.42-2.83-1.265s-1.06-1.97-1.06-3.384v-.957c0-.925.164-1.74.492-2.44s.802-1.24 1.408-1.613 1.308-.567 2.106-.567c1.057 0 1.905.296 2.543.89s1.01 1.404 1.114 2.447h-1.32c-.114-.793-.362-1.367-.745-1.723S56.248 26 55.564 26c-.84 0-1.497.3-1.976.93s-.71 1.502-.71 2.646v.964c0 1.08.226 1.94.677 2.577s1.082.957 1.894.957c.73 0 1.287-.164 1.675-.492s.652-.91.78-1.73h1.32zm12.674-1.497c0 .975-.164 1.827-.492 2.557s-.793 1.278-1.394 1.66-1.303.574-2.106.574c-.784 0-1.48-.19-2.085-.574s-1.078-.937-1.415-1.648-.503-1.543-.513-2.48v-.718c0-.957.166-1.802.5-2.536s.802-1.294 1.408-1.682 1.308-.588 2.092-.588c.797 0 1.5.194 2.105.58s1.08.94 1.408 1.675.492 1.58.492 2.55v.63zm-1.306-.643c0-1.18-.237-2.085-.71-2.714s-1.137-.95-1.99-.95c-.83 0-1.483.317-1.962.95s-.718 1.504-.73 2.625v.73c0 1.144.24 2.044.718 2.7s1.146.978 1.99.978 1.504-.308 1.97-.923.704-1.506.718-2.66v-.738zM83.777 35v-9.953h3.254c1.08 0 1.89.223 2.434.67s.82 1.107.82 1.982c0 .465-.132.877-.396 1.237s-.624.63-1.08.827c.538.15.962.438 1.272.86s.472.92.472 1.504c0 .893-.29 1.595-.868 2.105S88.286 35 87.23 35h-3.452zm1.313-4.655v3.582h2.167c.61 0 1.092-.157 1.442-.472s.533-.757.533-1.312c0-1.2-.652-1.798-1.955-1.798H85.09zm0-1.053h1.982c.574 0 1.032-.144 1.374-.43s.52-.677.52-1.17c0-.547-.16-.943-.478-1.19s-.804-.376-1.456-.376h-1.94v3.165zm14.28 1.682h-2.338V35h-1.32v-9.953h3.295c1.12 0 1.982.255 2.584.766s.91 1.253.91 2.23c0 .62-.17 1.16-.506 1.62s-.798.804-1.395 1.032l2.338 4.225V35h-1.408l-2.16-4.026zM97.032 29.9h2.017c.652 0 1.17-.17 1.55-.506.388-.337.58-.788.58-1.354 0-.615-.184-1.087-.553-1.415s-.894-.495-1.586-.5h-2V29.9zm11.943 5.1h-1.313v-9.953h1.313V35zm13.227-4.655c0 .962-.152 1.79-.458 2.488s-.733 1.235-1.285 1.627l1.778 1.395-.896.827-2.1-1.668a4.27 4.27 0 0 1-1.039.123c-.783 0-1.478-.19-2.085-.574s-1.077-.937-1.415-1.648c-.332-.715-.503-1.543-.512-2.48v-.718c0-.957.166-1.802.5-2.536s.802-1.294 1.408-1.682c.61-.392 1.308-.588 2.092-.588.802 0 1.506.194 2.112.58s1.08.946 1.408 1.675.492 1.572.492 2.543v.636zm-1.312-.643c0-1.17-.235-2.074-.704-2.707s-1.13-.957-1.996-.957c-.825 0-1.477.317-1.955.95s-.718 1.504-.732 2.625v.73c0 1.14.237 2.037.71 2.693s1.142.984 1.99.984 1.504-.308 1.97-.923.704-1.506.718-2.66v-.738zm13.563-4.655v6.768c-.005.94-.3 1.707-.89 2.304s-1.376.932-2.38 1.005l-.348.014c-1.1 0-1.958-.294-2.605-.882s-.975-1.397-.984-2.427v-6.78h1.298v6.74c0 .72.2 1.28.595 1.682s.962.595 1.696.595c.742 0 1.3-.198 1.702-.595s.594-.955.594-1.675v-6.747h1.32zM145.37 30.4h-4.313v3.527h5V35h-6.323v-9.953H146v1.08h-4.942v3.2h4.313V30.4zm12.565-4.272h-3.2V35h-1.306v-8.873h-3.193v-1.08h7.698v1.08zm11.683 0h-3.2V35h-1.305v-8.873h-3.193v-1.08h7.698v1.08zM179.94 30.4h-4.313v3.527h5V35h-6.323v-9.953h6.255v1.08h-4.942v3.2h4.313V30.4z" fill="#000"/><path d="M64.113 18h-1.758V9.47h1.758V18zm11.092 0h-1.758l-3.422-5.613V18h-1.758V9.47h1.758l3.428 5.625V9.47h1.752V18zm4.055 0V9.47h2.625c.75 0 1.42.17 2 .5s1.057.816 1.39 1.44.498 1.328.498 2.12v.393c0 .793-.164 1.498-.492 2.115s-.783 1.096-1.377 1.436-1.264.512-2 .516H79.26zm1.758-7.107v5.695h.85c.688 0 1.213-.225 1.576-.674s.55-1.092.557-1.928v-.45c0-.867-.18-1.524-.54-1.97s-.885-.674-1.576-.674h-.867zm15.575 3.035c0 .84-.148 1.576-.445 2.21s-.723 1.12-1.277 1.465-1.184.516-1.898.516c-.707 0-1.338-.17-1.893-.5s-.984-.824-1.29-1.453-.46-1.36-.463-2.18v-.422c0-.84.15-1.578.45-2.215s.732-1.13 1.283-1.47 1.188-.516 1.898-.516 1.342.172 1.893.516.982.83 1.283 1.47.457 1.373.457 2.21v.38zm-1.78-.387c0-.895-.16-1.574-.48-2.04s-.777-.697-1.37-.697-1.045.23-1.365.69-.482 1.13-.486 2.016v.416c0 .87.16 1.547.48 2.027s.78.72 1.383.72c.6 0 1.043-.23 1.36-.69s.477-1.14.48-2.027v-.416zM107.328 18h-1.758l-3.422-5.613V18H100.4V9.47h1.758l3.428 5.625V9.47h1.752V18zm9.188-3.697h-3.375v2.285h3.96V18h-5.72V9.47h5.707v1.424h-3.95v2.033h3.375v1.377zm8.56 1.46c0-.332-.117-.586-.352-.762s-.656-.367-1.265-.562-1.092-.395-1.448-.586c-.968-.524-1.453-1.23-1.453-2.115 0-.46.13-.87.387-1.23s.635-.647 1.12-.85 1.035-.305 1.64-.305 1.152.11 1.63.334.845.53 1.107.932a2.43 2.43 0 0 1 .399 1.371h-1.758c0-.39-.123-.693-.37-.908s-.592-.328-1.038-.328c-.43 0-.763.092-1 .275a.85.85 0 0 0-.358.715c0 .277.14.5.416.697s.693.363 1.236.527c1 .3 1.73.674 2.186 1.12s.686 1 .686 1.664c0 .738-.28 1.318-.838 1.74s-1.31.627-2.256.627c-.656 0-1.254-.12-1.793-.357s-.95-.572-1.237-1c-.28-.418-.42-.902-.42-1.453h1.763c0 .94.563 1.412 1.688 1.412.418 0 .744-.084.978-.252s.352-.4.352-.715zM132.425 18h-1.758V9.47h1.758V18zm9.077-1.758h-3.082L137.834 18h-1.87l3.175-8.53h1.63l3.194 8.53h-1.87l-.59-1.758zm-2.608-1.424h2.133l-1.072-3.193-1.06 3.193z" fill="#6f6f6f"/></svg> -->
            </a>
        </header>

        <ul class="header__menu">

                {{ $currentNode := . }}
                {{ range .Site.Menus.nav }}
                <li class='header__menu-item {{if $currentNode.IsMenuCurrent "nav" . }}header__menu-item--active{{end}}' ><a href="{{ .URL }}" title="{{ .Title }}" > {{- .Name -}}</a></li> 
                {{ end }}
            <li class="header__menu-item header__menu-item--responsive js__mobile-menu__trigger"><a href="#">Menu</a></li>
        </ul>
    </nav>