<section class="subscription">
    <form action="action_page.php">
        <div class="newsletter">
          <h3>Langganan buletin kami</h3>
          <p>Web design, UI/UX, SEO, and more...
          </p>
        </div>
      
        <div class="newsletter" style="background-color:white">
          <input class="newsletter__input" type="text" placeholder="Name" name="name" required>
          <input class="newsletter__input" type="text" placeholder="Email address" name="mail" required>
       
        </div>
      
        <div>
          <input class="newsletter__submit" type="submit" value="Subscribe (Coming Soon)">
        </div>
      </form>
  </section>