<section class="sidebar">
        <h2 class="sidebar__title">how to reach us ?</h2>
        <ul>
            <li class="sidebar__list">E-mail : {{ .Site.Data.company.email}}</li>
            <li class="sidebar__list">Phone : {{ .Site.Data.company.phone}}</li>
            <li class="sidebar__list">Address : {{ .Site.Data.company.address}}, {{ .Site.Data.company.town_country}}</li>

        </ul>
</section>