<section class="sidebar">
        <h2 class="sidebar__title"> {{ .Params.listSidebar.listTitle }}</h2>
        <ul>
            {{ range .Params.listSidebar.listContent }}
            <li class="sidebar__list">{{ . }}</li>
            {{end}}
        </ul>
</section>