<section class="testimonial">
        <div class="testimonial__wrapper">
            <h2 class="testimonial__title">{{ .Site.Data.testimonials.header }}</h2>
            <p class="testimonial__text">"{{ .Site.Data.testimonials.content }}"</p>
        </div>
    </section>