{{ define "main" }}

    {{ partial "hero" . }}

    <section class="container">
        <main class="container__content">

            <h1 class="title">{{ .Params.postTitle }}</h1>
            
            <blockquote>
                <h1>ERROR 404</h1>
                <h2>Sorry, nothing is here</h2>
            </blockquote>
        </main>

        <aside class="container__sidebar">

            {{ partial "sidebar-contact" .}}
            <!-- {{ partial "sidebar-list" . }} -->

        </aside>
    </section>
</div>    


{{ end }}