/* MEDIA QUERIES MANAGER
 break point :
 - phone 600px
 - tab-port 900px
 - desktop 1200px

 1em = 16px
*/
/* MEDIA QUERIES MANAGER
 Penggunaan : 


.html {
    font-size: 62.5%;

    @include respond(tab-port){ // max width 900px
        font-size: 62.5%;
    }

    @include respond(phone){ // max width 600px
        font-size: 50%; 
    }
}

*/
:root {
  --color-primary: #333; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 60em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 60%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

@media only screen and (max-width: 960px) {
  .wrapper {
    padding: 2rem; } }

h1, h2, h3, h4, h5, h6 {
  display: flex;
  align-items: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  min-height: 6.6rem; }

h1 {
  font-size: 2.8rem; }

h2 {
  font-size: 2.6rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.8rem; }

p, blockquote {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 2.9rem;
  color: black;
  margin-bottom: 1em; }

.title {
  display: block; }

a, a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #E74C3C; }

a:hover {
  background-color: #E74C3C;
  color: white;
  border-radius: 3px; }

li {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: unset;
  color: black; }
  li > p:first-child {
    margin-bottom: unset; }

ul {
  list-style-type: none;
  list-style-position: inside; }
  ul li {
    margin-left: 3rem;
    display: flex;
    margin-bottom: 1em; }

ul li::before {
  content: "\25aa";
  font-size: 1em;
  color: #E74C3C;
  font-weight: bold;
  display: inline-block;
  align-items: center;
  text-shadow: -1px -1px 0 #E74C3C, 1px -1px 0 #E74C3C, -1px 1px 0 #E74C3C, 1px 1px 0 #E74C3C;
  margin-left: -1em;
  margin-right: 1rem; }

ol li {
  margin-left: 3rem;
  margin-bottom: 1em; }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px; }

blockquote::before {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p {
  display: block !important;
  margin: unset !important; }

blockquote p:not(:last-child) {
  margin-bottom: 2.5rem !important; }

cite {
  display: flex;
  justify-content: flex-end; }

img {
  width: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(0);
  transition: all .2s;
  margin-bottom: 1em; }
  img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }

.header {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 2.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 9.3rem;
  padding: 1rem; }
  @media only screen and (max-width: 700px) {
    .header {
      margin-top: 0;
      height: 6rem; } }
  .header__logo {
    margin: auto 0; }
    .header__logo > a {
      border: none; }
      .header__logo > a:hover {
        border: none;
        background-color: unset; }
    .header__logo-icon {
      width: 210px;
      height: 50px; }
  .header__menu {
    display: flex;
    flex-direction: row;
    list-style-type: none; }
    .header__menu-item {
      margin-left: unset;
      display: block;
      padding: .3rem 1.5rem;
      height: 5.3rem;
      display: flex;
      align-items: center;
      border-bottom: 5px solid transparent;
      font-family: "Roboto", sans-serif;
      font-size: 1.4rem;
      color: black;
      text-transform: uppercase; }
      .header__menu-item::before {
        content: none; }
      @media only screen and (max-width: 700px) {
        .header__menu-item {
          display: none; } }
      .header__menu-item--active {
        border-bottom: 5px solid #E74C3C; }
      .header__menu-item--responsive {
        display: none;
        margin-bottom: 0; }
      @media only screen and (max-width: 700px) {
        .header__menu-item--responsive {
          display: flex;
          border-bottom: 5px solid #E74C3C; } }
      .header__menu-item:hover {
        border-bottom: 5px solid #E74C3C; }
      .header__menu-item > a {
        text-decoration: none;
        color: inherit;
        border-bottom: none; }
        .header__menu-item > a:hover {
          background-color: transparent;
          color: inherit; }

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #E74C3C;
  background-image: linear-gradient(to left bottom, #e74c3c, #dd4b41, #d24b44, #c74a47, #bc4a4a);
  width: 100vw;
  height: 0vh;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all .5s;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-weight: 700; }
  .mobile-menu__close {
    opacity: 0;
    border: none;
    margin: none;
    padding: none;
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 5%;
    right: 5%;
    cursor: pointer;
    transition: all .5s; }
    .mobile-menu__close:focus {
      border: none;
      outline: none; }
  .mobile-menu__wrapper {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none; }
    .mobile-menu__wrapper li {
      margin-left: unset; }
      .mobile-menu__wrapper li::before {
        content: none; }
  .mobile-menu__item, .mobile-menu__item:visited, .mobile-menu__item:active {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1.25em;
    padding: 2.5rem;
    border: none; }
  .mobile-menu__item:hover {
    border: none; }

.showMenu {
  height: 100vh; }
  .showMenu .mobile-menu__close {
    opacity: 1; }

.hero {
  width: 100%;
  max-width: 960px;
  display: flex;
  margin: 0 auto;
  margin-top: 2rem; }
  .hero__image {
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 3.1rem; }
  @media only screen and (max-width: 750px) {
    .container {
      flex-direction: column;
      margin-top: 1.5rem; } }
  .container__content {
    width: 100%;
    max-width: 63.9rem;
    flex-basis: 1;
    padding: 0 3.7rem; }
    @media only screen and (max-width: 750px) {
      .container__content {
        padding: 0; } }
  .container__sidebar {
    width: 100%;
    max-width: 32.1rem;
    flex-shrink: 2; }
    @media only screen and (max-width: 750px) {
      .container__sidebar {
        max-width: 100%; } }

.testimonial {
  background-image: url("/images/testimonials.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 197px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.3rem; }
  .testimonial__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 22.9rem;
    min-height: 197px;
    padding: 1rem; }
  .testimonial__title {
    position: absolute;
    left: 20px;
    top: 48px;
    display: block;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold; }
  .testimonial__text {
    margin-top: 4rem;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: normal;
    text-align: center; }

.sidebar {
  padding: 0rem 2rem;
  margin-bottom: 4.3rem; }
  .sidebar__title {
    display: flex;
    align-items: center;
    min-height: 5.4rem;
    margin-bottom: 2.5rem;
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid #C2C1C1; }
  .sidebar__list {
    line-height: 1.5rem; }
    .sidebar__list::before {
      content: "\25aa";
      font-size: 1em;
      color: #E74C3C;
      font-weight: bold;
      display: inline-block;
      align-items: center;
      padding-right: 3rem;
      text-shadow: -1px -1px 0 #E74C3C, 1px -1px 0 #E74C3C, -1px 1px 0 #E74C3C, 1px 1px 0 #E74C3C;
      margin-left: -1em;
      margin-right: -.5rem; }

.footer {
  background-color: #E74C3C;
  width: 100%; }
  .footer__wrapper {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 700px) {
      .footer__wrapper {
        justify-content: space-around; } }
  .footer__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: auto 0; }
    @media only screen and (max-width: 700px) {
      .footer__menu {
        flex-direction: column;
        align-items: flex-start; } }
    .footer__menu-list {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: unset;
      padding: unset;
      margin: 1rem; }
      .footer__menu-list--active {
        border: none;
        background-color: transparent;
        border-bottom: 2px solid white !important; }
      .footer__menu-list > a {
        padding: .5rem;
        margin: unset;
        border: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: bold;
        border-radius: 0; }
        .footer__menu-list > a:hover {
          border: none;
          background-color: transparent;
          border-bottom: 2px solid white; }
      .footer__menu-list::before {
        content: none; }
  .footer__detail {
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: right; }
    @media only screen and (max-width: 900px) {
      .footer__detail {
        flex-direction: column-reverse; } }
  .footer__address {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 900px) {
      .footer__address {
        margin-bottom: 2rem; } }
    .footer__address-header {
      font-size: 1.6rem;
      font-weight: 600; }
    .footer__address-detail {
      font-size: 1.4rem;
      line-height: 2rem; }
  .footer__contact {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 900px) {
      .footer__contact {
        margin-bottom: 2rem; } }
    .footer__contact-header {
      font-size: 1.6rem;
      font-weight: 600; }
    .footer__contact-detail {
      font-size: 1.4rem; }

.credit {
  position: relative;
  z-index: 100;
  background-color: #E73C2A;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.2rem; }
  .credit__text {
    color: white;
    font-size: 1.4rem;
    line-height: 2.3rem; }
    .credit__text > a {
      border: none; }
      .credit__text > a:hover {
        border: none;
        background-color: transparent; }

.contact {
  display: flex;
  flex-direction: column;
  padding: 1em; }
  .contact__label {
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: light;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem; }
  .contact__text {
    border: none;
    border: 1px solid #c2c1c1;
    border-radius: 3px;
    padding: .5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    width: 75%; }
    @media only screen and (max-width: 750px) {
      .contact__text {
        width: 100%; } }
  .contact__textarea {
    padding: .5rem;
    font-family: "Open Sans", sans-serif;
    border: none;
    border: 1px solid #c2c1c1;
    border-radius: 3px; }
  .contact__button {
    margin: 1rem 0;
    padding: 1rem;
    width: 10rem;
    align-self: flex-end;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer; }
    .contact__button:hover {
      background-color: #27ae60; }

.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(15.7rem, 1fr));
  grid-gap: 1.5rem; }
  .gallery__item {
    min-height: 0;
    border: none;
    text-decoration: none; }
    .gallery__item:hover {
      border: none; }
    .gallery__item > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0;
      padding: 0; }

.gslide-title {
  min-height: 0 !important;
  font-size: 2em !important; }

.gslide-desc {
  font-size: unset !important;
  line-height: 2em !important; }

.glightbox1 {
  border: none;
  background-color: unset; }
  .glightbox1:hover, .glightbox1:visited {
    border: none !important;
    background-color: unset; }
