{{ define "main" }}

    {{ partial "hero" . }}

    <section class="container">
        <main class="container__content"> 

           

            <h1 class="title">{{ .Params.postTitle }}</h1>
            
            {{ .Content }}

            <form class="contact" action="https://formcarry.com/s/uit4nP8XY42" method="POST" accept-charset="UTF-8" > 
                    <label class="contact__label" for="name">Name (required) :</label>
                    <input class="contact__text" type="text" name="name" required>
                    <label class="contact__label" for="email">Email (required) :</label>
                    <input class="contact__text" type="email" name="email" required>
                    <label class="contact__label" for="phone">Phone :</label>
                    <input class="contact__text" type="text" name="phone">
                    <input type="hidden" name="_gotcha"><!-- use this to prevent spam -->
                    <label class="contact__label" for="message">Message (required):</label>
                    <textarea class="contact__textarea" name="message" cols="30" rows="10" required></textarea>
                    <button class="contact__button" type="submit">Send</button>

            </form>

        </main>

        <aside class="container__sidebar">

            {{ partial "testimonial" . }}


            {{ partial "sidebar-list" .}}

            {{ partial "sidebar-contact" .}}
            <!-- {{ partial "sidebar-list" . }} -->

        </aside>
    </section>
</div>    


{{ end }}